body {
    margin: 0;
    background-color:#cccccc;
}
h1 {
    text-align:center;
    background-color: #2f2f2f;
    padding: 8px 0;
    margin: 32px 0;  
}
.text {
    font-family:Arial;
    color:white;
    padding:4px; 
}
.subtext {
    font-family: segoe ui;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding: 8px 4px;
    font-style: italic;
}
.images {
    margin: 64px auto;
    font-size: 0;
    min-width: 400px;
    max-width: 956px;
}
.images > img {
    object-fit: cover;
    margin: 2px;
    border: white 8px solid;
    box-sizing: border-box;
    height: 200px;
    width: calc((100%/3) - 4px);       
}
.search {
    text-align:center;
}
#searchbar {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    max-width: 400px;
    min-width: 200px;
    margin: 40px auto; 
}
#selectbar {
    padding: 4px;
    border: 1px solid black;
    text-transform: capitalize;
}
.carousel {
    height: 200px;
    width: 400px;
    margin: 32px auto;
}
.carousel > .leftArrow {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 25px;
}
.carousel > .leftArrow > img {
    width: 100%
}
.carousel > .rightArrow {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 25px;
    margin-left: 375px;
}
.carousel > .rightArrow > img {
    width: 100%;
}
.carousel > #carouselImages > img {
    position: absolute;
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.footer {
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
    margin: 8px 0;
}
.game {
    max-width: 80%;
    min-width: 300px;
    max-height: 50%;
    min-height: 200px;
    margin: auto;
    border: 1px black solid;
    background-color: rosybrown; 
    font-family: Arial;
}
.game > .score {
    text-align: right;
    margin: 8px 8px 0 0;
}
.game > #gameStart {
    text-align: center;
}
.game > .gameZone {
    border: 1px black solid;
    background-color: white; 
    font-family: Arial;
    font-weight: 500;
    color: white;
    margin: 32px auto;
    width: fit-content;
}
.game > .gameZone > .rock {
    padding: 24px;
    background-color: red;
    border: 1px black solid;
    display: inline-block;     
    margin: 16px;
}
.game > .gameZone > .rock:hover {
    box-shadow: 0 0 32px #2f2f2f;
    background: darkred;
}
.game > .gameZone > .paper {
    padding: 24px;
    background-color: blue;
    border: 1px black solid;
    display: inline-block;
    margin: 16px;
}
.game > .gameZone > .paper:hover {
    box-shadow: 0 0 32px #2f2f2f;
    background-color: darkblue;
}
.game > .gameZone > .scissors {
    padding: 24px;
    background-color: green;
    border: 1px black solid;
    display: inline-block;
    margin: 16px;
}
.game > .gameZone > .scissors:hover {
    box-shadow: 0 0 32px #2f2f2f;
    background-color: darkgreen;
}
.game > #outcome {
    text-emphasis: bold;
    text-align: center;
    margin: 16px;
}
.tictactoe {
    max-width: 80%;
    min-width: 300px;
    max-height: 50%;
    min-height: 200px;
    margin: 50px auto;
    border: 1px black solid;
    background-color: rosybrown; 
    font-family: Arial;
}
.tictactoe > .tictactitle  {
    text-align: center;
    font-weight: 1000;
    margin: 16px;
}
.tictactoe > .board {
    height: 300px;
    width: 300px;
    background-color: white; 
    margin: 32px auto;
    border: solid 1px black;
    font-size: 0;
}
.tictactoe > .board > .box {
    display: inline-block;
    background-color: grey;
    border: 1px black solid;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}