
body {
    margin: 0;
    background-color:#cccccc;
}
h1 {
    text-align:center;
    background-color: #2f2f2f;
    padding: 8px 0;
    margin: 32px 0;  
}
.text {
    font-family:Arial;
    color:white;
    padding:4px; 
}
.subtext {
    font-family: segoe ui;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding: 8px 4px;
    font-style: italic;
}

.image {
    object-fit: cover;
    margin: 2px;
    border: white 8px solid;
    box-sizing: border-box;
    height: 200px;
    width: calc((100%/3) - 4px);       

}
.search {
    text-align:center;
}
#searchbar {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    max-width: 400px;
    min-width: 200px;
    margin: 40px auto; 
}
#selectbar {
    padding: 4px;
    border: 1px solid black;
    text-transform: capitalize;
}
.images {
    margin: 64px auto;
    font-size: 0;
    min-width: 400px;
    max-width: 956px;
}
.footer {
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
    margin: 8px 0;
}
